/* CSS模块化 */
/* https://zhuanlan.zhihu.com/p/28890014 */

/* 一。适合真正的大型网站开发 */
/* BEM 命名约定 */
/* 块（block）、元素（element）、修饰符（modifier） */

.block{background: blue;}
/* 双下划线 */
.block__element{background: blue;}
/* 双连字符 */  
.block--modifier{background: blue;}

/* 例子 */
/*
// template
<div class="size1of4 bgBlue solidGray mts mlm mrm mbm"></div> 
*/
.size1of4 {width: 25%;}
.bgBlue {background:blue}
.solidGray {border: 1px solid #ccc}
.mts {margin-top: 5px}
.mrm {margin-right: 10px}
.mbm {margin-bottom: 10px}
.mlm {margin-left: 10px}



/* 二。scoped属性可以从当前STYLE元素所在的容器开始选择后代 */
/* Vue.js,小程序wepy框架,支持 scoped属性 */
/* 例子 */
/* 
<div>
<style scoped >
   span {color:red;}
</style>
<span> 我是第1个DIV内的SPAN </span>
</div>
<div>
<style scoped >
   span {color:green;}
</style>
<span> 我是第2个DIV内的SPAN </span>
</div>
<div>
<span> 我是第3个DIV内的SPAN </span>
</div> 
*/
/* 结果：3个 span 颜色分别为 red, green, black */


/* 三。 CSS预处理器 如何优化我们的 common.css */
/* 例子1 */
/* // 你可以混合“类”选择器或者“id”选择器，例如： */
.a, #b {
 color: red;
}
.mixin-class
{
.a();
}
.mixin-id { 
#b();
}
/* 结果： */
.a, #b {
 color: red;
}
.mixin-class
{
 color: red;
}
.mixin-id {
 color: red;
} 


/* 例子2 */
/* 如果你想要创建一个混合集，但是却不想让它输出到你的样式中，你可以在混合集的名字后面加上一个括号 */
.my-mixin {
 color: black;
}
.my-other-mixin() {
 background: white;
}
.class {
.my-mixin;
.my-other-mixin;
}
/* 结果： */
.my-mixin {
 color: black;
}
.class {
 color: black;
 background: white;
}